.esquerda .principal a {
    color: #C4160C;
}

.secundaria a{
    color: #303134;
}

.esquerda a .sobretitulo {
    color: #C4170C;
}

.centro a .sobretitulo {
    color: #16AE54;
}

.direita a .sobretitulo {
    color: #EC8006;
}

.vermelho-g1 {
    color: #C4170C;
}

.azul-oglobo {
    color: #1E4B9B;
}

.verde-valor {
    color: #006766;
}

.verde-ge {
    color: #07AA47
}

.laranja-cartola {
    color: #E3662B;
}

.vermelho-globoplay {
    color: #FB0735;
}

.rosa-dropz {
    color: #FF75BB;
}

.amarelo-gshow {
    color: #EC7D00;
}

.preto-quem {
    color: #323333;
}

.roxo-receitas {
    color: #A81D83;
}


